
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
	<style>
		@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
		@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
	</style>
	<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
	

    <meta name="description" content="Boootstrap Portfolio/Resume Theme for Developers">
       <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
       <link rel="shortcut icon" href="favicon.ico">  
       
       <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
       
       <!-- FontAwesome JS -->
       <script defer src="{% static 'assets/fontawesome/js/all.js' %}"></script>
       
       <!-- Global CSS -->
       <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">  
       
       <!-- github calendar css -->
       <link rel="stylesheet" href="{% static 'assets/plugins/github-calendar/dist/github-calendar-responsive.css' %}">
       <!-- github activity css -->  
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">  
       <link rel="stylesheet" href="{% static 'assets/plugins/github-activity/src/github-activity.css' %}">
   
       <!-- Theme CSS -->  
       <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

      
 <!-- Custom Theme files -->
       <!-- <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
 <!-- //Custom Theme files -->
 <!-- web font -->
       <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
      
 <!-- //web font -->
 <!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
         -->



</head>
<body>

    
      <!-- ******HEADER****** --> 
      <header class="header">
        <div class="container">     
	        <div class="row align-items-center">
			    <div class="col">         
    
    
		            </div><!--//profile-->
			    </div><!--//col-->
	            <div class="col-12 col-md-auto">
		            <div class="dark-mode-switch d-flex">
						<div class="form-check form-switch mx-auto mx-md-0">
							<input type="checkbox" class="form-check-input me-2" id="darkSwitch" />
							<label class="custom-control-label" for="darkSwitch">Dark Mode</label>
						</div>
			        </div><!--//dark-mode-switch-->
	                <a class="btn btn-cta-primary" href="{% url 'indexpage' %}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg>-Go Back To Portfolio </a>        
	            </div><!--//col-->
	        </div><!--//row-->         
        </div><!--//container-->
    
    </header><!--//header-->
    
	     <div class="main-content">
            <br>
            <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
		    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		    <p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you!</p>
	         <br>
             <br>
             <br>
             <br>
          
        </div>
    
	<footer class="footer">
        <div class="container text-center">
                <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> | by <a href="#" target="_blank">Priyanka_Kori</a> </small>
        </div><!--//container-->
    </footer><!--//footer-->

   

 <!-- Javascript -->          
 <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
 <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>

<script type="text/javascript" src="{% static 'assets/plugins/popper.min.js' %}"></script> 


<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>    


<script type="text/javascript" src="{% static 'assets/plugins/vanilla-rss/dist/rss.global.min.js' %}"></script> 


<script type="text/javascript" src="{% static 'assets/plugins/dark-mode-switch/dark-mode-switch.min.j' %}s"></script> 
<!-- github calendar plugin -->


<script type="text/javascript" src="{% static 'assets/plugins/github-calendar/dist/github-calendar.min.js' %}"></script>
<!-- github activity plugin -->




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>


<script type="text/javascript" src="{% static 'assets/plugins/github-activity/src/github-activity.js' %}"></script>
<!-- custom js -->


<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>  




</body>
</html>